<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="giroresh.mediacenterclient">
	<uses-sdk android:minSdkVersion="14" android:targetSdkVersion="19" android:maxSdkVersion="21" />
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<application android:allowBackup="true"
				 android:label="@string/app_name"
				 android:icon="@drawable/ic_launcher">

		<activity android:name="giroresh.mediacenterclient.Control"
				  android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<activity android:name="giroresh.mediacenterclient.Login"
				  android:label="@string/app_name">
		</activity>

		<activity android:name="giroresh.mediacenterclient.ControlPlayback"
				  android:label="@string/app_name">
		</activity>

		<activity android:name="giroresh.mediacenterclient.Playlist"
				  android:label="@string/app_name">
		</activity>

		<activity android:name="giroresh.mediacenterclient.SetAdminKey"
				  android:label="@string/app_name">
		</activity>
	</application>
</manifest>
