<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="giroresh.mediacenterclient">
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="19" android:maxSdkVersion="21" />
	<uses-permission android:name="android.permission.INTERNET"/>
	<application android:allowBackup="true" android:label="@string/app_name" android:icon="@drawable/mcc">

		<activity android:name="Control"
				  android:label="@string/app_name"
				  android:configChanges="orientation|screenLayout|screenSize">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<activity android:name="Login"
				  android:label="@string/app_name"
				  android:configChanges="orientation|screenLayout|screenSize">
		</activity>

		<activity android:name="ControlPlayback"
				  android:label="@string/app_name"
				  android:noHistory="true"
				  android:configChanges="orientation|screenLayout|screenSize">
		</activity>

		<activity android:name="Playlist"
				  android:label="@string/app_name"
				  android:configChanges="orientation|screenLayout|screenSize">
		</activity>

		<activity android:name="SetAdminKey"
				  android:label="@string/app_name"
				  android:configChanges="orientation|screenLayout|screenSize">
		</activity>

		<activity android:name="ServerStatus"
				  android:label="@string/app_name"
				  android:configChanges="orientation|screenLayout|screenSize">
		</activity>
	</application>
</manifest>
